---
import InmuebleCard from './InmuebleCard.astro'
import Button from "../Button.astro";

---

<section class="featured">
    <div class="container">
        <h2 class="featured_title">Inmuebles destacados</h2>
        <p class="featured_text">Puedes buscar lo que necesites</p>

        <div class="featured_items">
            <InmuebleCard />
            <InmuebleCard />
            <InmuebleCard />
            <InmuebleCard />
        </div>
        <div class="flex center">
            <Button type="link" content="Ver más" link="#" variant="light"></Button>
        </div>

    </div>

    
    <svg width="1728" height="1103" viewBox="0 0 1728 1103" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_329_2006" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-2" y="0" width="1733" height="1103">
    <path d="M1730.75 0.336182H-1.6853V1102.52H1730.75V0.336182Z" fill="white"/>
    </mask>
    <g mask="url(#mask0_329_2006)">
    <path d="M-8.61813 600.718V531.651L431.154 1001.13C432.695 1002.75 434.673 1002.75 434.673 1002.75H377.035C375.236 1002.75 373.508 1001.98 372.234 1000.61L15.505 624.691L-8.61813 600.718Z" fill="url(#paint0_linear_329_2006)"/>
    <path d="M881.773 557.087L849.636 523.905C847.766 521.931 846.43 521.196 844.559 523.17L606.874 759.659H606.784L587.599 778.845L571.005 795.347L571.112 795.32L398.679 967.703L430.816 1000.88C432.686 1002.86 434.023 1003.59 435.893 1001.62L662.471 773.524L881.782 557.078L881.773 557.087Z" fill="url(#paint1_linear_329_2006)"/>
    <path d="M795.427 1387.68L734.618 1396.3L379.769 1011.24C378.228 1009.62 376.25 1009.62 376.25 1009.62L433.888 1009.62C435.687 1009.62 437.415 1010.39 438.689 1011.76L795.418 1387.68L795.427 1387.68Z" fill="url(#paint2_linear_329_2006)"/>
    <path d="M-70.8501 1455.29L-38.7133 1488.47C-36.8428 1490.44 -35.5067 1491.18 -33.6363 1489.2L204.049 1252.71L204.139 1252.71L223.324 1233.53L239.918 1217.03L239.811 1217.05L412.244 1044.67L380.107 1011.49C378.236 1009.51 376.9 1008.78 375.03 1010.75L148.451 1238.85L-70.859 1455.29L-70.8501 1455.29Z" fill="url(#paint3_linear_329_2006)"/>
    <path d="M1072.88 1224.3V1166.25L1315.45 934.228C1317.08 932.696 1317.08 930.731 1317.08 930.731V988.021C1317.08 989.809 1316.31 991.526 1314.92 992.792L1072.88 1224.31V1224.3Z" fill="url(#paint4_linear_329_2006)"/>
    <path d="M1315.95 929.51L1072.51 693.862L908.227 524.18C906.953 522.807 905.225 522.037 903.426 522.037H845.788C845.788 522.037 847.765 522.037 849.306 523.657L1072.51 754.179L1281.83 966.49L1315.21 934.547C1317.2 932.688 1317.93 931.36 1315.95 929.501V929.51Z" fill="url(#paint5_linear_329_2006)"/>
    <path d="M1732.27 540.863L1726.23 604.902L1324.01 983.652C1322.38 985.183 1322.38 987.149 1322.38 987.149V929.859C1322.38 928.071 1323.15 926.353 1324.53 925.087L1732.27 540.863Z" fill="url(#paint6_linear_329_2006)"/>
    <path d="M1566.95 1227.28L1323.51 988.371C1321.52 986.511 1322.26 985.183 1324.25 983.324L1357.63 951.381L1566.95 1158.23V1227.28Z" fill="url(#paint7_linear_329_2006)"/>
    <path d="M1333.75 37.8415L1080.78 273.118L872.67 481.17L904.807 514.352C906.677 516.326 908.013 517.061 909.884 515.087L1096.35 327.37L1333.24 96.3971C1334.62 95.1311 1335.39 93.4135 1335.39 91.6252V34.3355C1335.39 34.3355 1335.39 36.301 1333.76 37.8326L1333.75 37.8415Z" fill="url(#paint8_linear_329_2006)"/>
    <path d="M1750.05 -354.707L1744.01 -290.668L1341.79 88.0815C1340.16 89.6132 1340.16 91.5787 1340.16 91.5787V34.289C1340.16 32.5006 1340.93 30.7831 1342.31 29.5171L1750.05 -354.707Z" fill="url(#paint9_linear_329_2006)"/>
    <path d="M1733.82 479.932L1341.29 92.8004C1339.3 90.9412 1340.04 89.6132 1342.03 87.754L1375.41 55.8114L1733.82 410.885V479.932Z" fill="url(#paint10_linear_329_2006)"/>
    <path d="M1090.81 -205.783L1334.25 33.1232C1336.24 34.9824 1335.5 36.3104 1333.51 38.1695L1300.13 70.1122L1090.81 -136.736V-205.783Z" fill="url(#paint11_linear_329_2006)"/>
    <path d="M643.472 -238.558L649.066 -171.653L396.087 63.6228C394.457 65.1544 394.457 67.1198 394.457 67.1198V9.8302C394.457 8.04184 395.232 6.32431 396.613 5.05829L643.472 -238.558Z" fill="url(#paint12_linear_329_2006)"/>
    <path d="M905.145 514.591L671.708 273.489L429.72 31.352L396.337 63.2947C394.35 65.1539 393.611 66.4819 395.597 68.341L669.33 331.354L846.234 514.077C847.507 515.45 849.235 516.22 851.035 516.22H908.672C908.672 516.22 906.695 516.22 905.154 514.6L905.145 514.591Z" fill="url(#paint13_linear_329_2006)"/>
    <path d="M-11.5532 463.695L-17.1469 396.791L387.33 10.9041C388.959 9.37244 388.96 7.40701 388.96 7.40701L388.96 64.6966C388.96 66.485 388.185 68.2025 386.804 69.4686L-11.5532 463.695Z" fill="url(#paint14_linear_329_2006)"/>
    <path d="M-121.729 -440.065L111.708 -198.963L353.696 43.1739L387.08 11.2313C389.066 9.37209 389.805 8.04411 387.819 6.18492L114.087 -256.829L-62.8171 -439.551C-64.0908 -440.924 -65.8187 -441.694 -67.618 -441.694L-125.256 -441.694C-125.256 -441.694 -123.278 -441.694 -121.737 -440.074L-121.729 -440.065Z" fill="url(#paint15_linear_329_2006)"/>
    </g>
    <defs>
    <linearGradient id="paint0_linear_329_2006" x1="434.664" y1="809.406" x2="15.4962" y2="809.406" gradientUnits="userSpaceOnUse">
    <stop stop-color="#26235A"/>
    <stop offset="0.59" stop-color="#28306C"/>
    <stop offset="1" stop-color="#2A3C7C"/>
    </linearGradient>
    <linearGradient id="paint1_linear_329_2006" x1="398.679" y1="762.395" x2="881.773" y2="762.395" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint2_linear_329_2006" x1="376.259" y1="1202.97" x2="795.427" y2="1202.97" gradientUnits="userSpaceOnUse">
    <stop stop-color="#26235A"/>
    <stop offset="0.59" stop-color="#28306C"/>
    <stop offset="1" stop-color="#2A3C7C"/>
    </linearGradient>
    <linearGradient id="paint3_linear_329_2006" x1="412.244" y1="1249.98" x2="-70.8501" y2="1249.98" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint4_linear_329_2006" x1="1194.98" y1="930.731" x2="1194.98" y2="1224.31" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint5_linear_329_2006" x1="845.788" y1="744.272" x2="1317.12" y2="744.272" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint6_linear_329_2006" x1="1489.17" y1="987.149" x2="1489.17" y2="616.736" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.630115" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint7_linear_329_2006" x1="1444.65" y1="1227.28" x2="1444.65" y2="951.381" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint8_linear_329_2006" x1="872.67" y1="275.295" x2="1335.39" y2="275.295" gradientUnits="userSpaceOnUse">
    <stop stop-color="#26235A"/>
    <stop offset="0.59" stop-color="#28306C"/>
    <stop offset="1" stop-color="#2A3C7C"/>
    </linearGradient>
    <linearGradient id="paint9_linear_329_2006" x1="1506.95" y1="91.5786" x2="1506.95" y2="-278.834" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.630115" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint10_linear_329_2006" x1="1462.43" y1="331.706" x2="1462.43" y2="55.8114" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint11_linear_329_2006" x1="1213.13" y1="-205.783" x2="1213.13" y2="70.1122" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint12_linear_329_2006" x1="521.757" y1="67.1198" x2="521.757" y2="-238.558" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint13_linear_329_2006" x1="394.413" y1="273.782" x2="908.654" y2="273.782" gradientUnits="userSpaceOnUse">
    <stop stop-color="#26235A"/>
    <stop offset="0.59" stop-color="#28306C"/>
    <stop offset="1" stop-color="#2A3C7C"/>
    </linearGradient>
    <linearGradient id="paint14_linear_329_2006" x1="261.659" y1="7.40689" x2="261.659" y2="313.084" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2A3C7C"/>
    <stop offset="0.41" stop-color="#28306C"/>
    <stop offset="1" stop-color="#26235A"/>
    </linearGradient>
    <linearGradient id="paint15_linear_329_2006" x1="389.004" y1="-199.256" x2="-125.238" y2="-199.256" gradientUnits="userSpaceOnUse">
    <stop stop-color="#26235A"/>
    <stop offset="0.59" stop-color="#28306C"/>
    <stop offset="1" stop-color="#2A3C7C"/>
    </linearGradient>
    </defs>
    </svg>
    
</section>

<style lang="scss">
    .featured {
        background-color: var(--color-secondary);
        padding: 9rem 0;
        position: relative;
        isolation: isolate;
        overflow: hidden;

        &_items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(min(250px,100%),1fr));
            gap: 1rem;
            padding: 2rem 0;
        }

        &_title {
            font-size: 3.75rem;
            font-weight: 700;
            line-height: 108.023%;
            --color: #fff;
        }

        &_text {
            font-size: 1.75rem;
            font-weight: 400;
            line-height: normal;
            --color: var(--color-primary-light);
        }

        > svg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            z-index: -1;
        }
    }
</style>