---
import Layout from '../layouts/Layout.astro'
import Button from "../components/Button.astro"
import InmuebleDestacados from '../components/blocks/InmuebleDestacados.astro'
import InmuebleGallery from '../components/blocks/InmuebleGallery.astro';
import InmuebleCalc from '../components/blocks/InmuebleCalc.astro';
---
<Layout title="Inmueble" pageSlug='inmueble'>
    <section class="wrapper first">
        <article class="container inmueble">
            <div class="inmueble_slider">
                <InmuebleGallery/>
            </div>
            <div class="inmueble_content">
                <div class="inmueble_content_heading between">
                    <div class="inmueble_content_heading_texts">
                        <h1 class="inmueble_title">
                            PISO EN VENTA CORNELLÁ DE LLOBREGAT
                        </h1>
                        <p class="inmueble_location">
                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="0 0 53 53" fill="none">
                                <path d="M44.625 20.2301C44.625 23.7564 42.3988 28.2901 39.5388 32.6451C35.9015 37.9701 31.819 42.9768 27.335 47.6114C27.2584 47.6886 27.1673 47.7499 27.0669 47.7917C26.9665 47.8336 26.8588 47.8551 26.75 47.8551C26.6412 47.8551 26.5335 47.8336 26.4331 47.7917C26.3327 47.7499 26.2416 47.6886 26.165 47.6114C25.4663 46.8964 8.875 29.8664 8.875 20.2301C8.875 15.4894 10.7583 10.9428 14.1105 7.59057C17.4627 4.23836 22.0093 2.3551 26.75 2.3551C31.4907 2.3551 36.0373 4.23836 39.3895 7.59057C42.7417 10.9428 44.625 15.4894 44.625 20.2301Z" fill="#221F5A"/>
                                <path d="M21.2441 15.1384L30.438 15.1384C30.7518 15.1384 31.0532 15.2567 31.2768 15.4662L38.1922 22.0065L28.5082 22.0065L21.2441 15.1365L21.2441 15.1384Z" fill="white"/>
                                <path d="M25.75 19.3977L22.9916 22.0065L13.3076 22.0065L20.3337 15.3615C20.6516 15.0608 21.1643 15.0608 21.4822 15.3615L25.75 19.3977Z" fill="white"/>
                            </svg>
                            
                            <span>Sant Ildefonso</span>
                        </p>
                    </div>

                    <div class="inmueble_content_heading_price">
                        <span>Referencia ARUS130</span>
                        <p>130.000€</p>
                    </div>
                </div>

                <div class="inmueble_content_caracteristicas">
                    <div class="card">
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="0 0 53 53" fill="none">
                            <path d="M34.1082 12.1071C33.9476 12.107 33.7905 12.0594 33.6569 11.9701C33.5233 11.8808 33.4192 11.7539 33.3577 11.6055C33.2963 11.457 33.2802 11.2937 33.3115 11.1361C33.3428 10.9785 33.4202 10.8338 33.5338 10.7201L37.2599 6.99402C37.3349 6.91642 37.4245 6.85452 37.5236 6.81194C37.6228 6.76935 37.7294 6.74694 37.8373 6.746C37.9452 6.74506 38.0521 6.76562 38.152 6.80648C38.2519 6.84733 38.3426 6.90766 38.4189 6.98395C38.4951 7.06024 38.5555 7.15095 38.5963 7.25081C38.6372 7.35066 38.6577 7.45765 38.6568 7.56553C38.6559 7.67342 38.6335 7.78003 38.5909 7.87916C38.5483 7.97829 38.4864 8.06794 38.4088 8.14289L34.6827 11.869C34.6073 11.9446 34.5178 12.0046 34.4192 12.0454C34.3206 12.0863 34.2149 12.1072 34.1082 12.1071Z" fill="#D0DBF7"/>
                            <path d="M43.8582 12.1071C43.7515 12.1072 43.6458 12.0863 43.5472 12.0454C43.4486 12.0046 43.3591 11.9446 43.2837 11.869L39.5576 8.14289C39.48 8.06794 39.4181 7.97829 39.3755 7.87916C39.333 7.78003 39.3105 7.67342 39.3096 7.56553C39.3087 7.45765 39.3292 7.35066 39.3701 7.25081C39.4109 7.15095 39.4713 7.06024 39.5475 6.98395C39.6238 6.90766 39.7146 6.84733 39.8144 6.80648C39.9143 6.76562 40.0212 6.74506 40.1291 6.746C40.237 6.74694 40.3436 6.76935 40.4428 6.81194C40.5419 6.85452 40.6315 6.91642 40.7065 6.99402L44.4326 10.7201C44.5462 10.8338 44.6236 10.9785 44.6549 11.1361C44.6862 11.2937 44.6702 11.457 44.6087 11.6055C44.5472 11.7539 44.4431 11.8808 44.3095 11.9701C44.1759 12.0594 44.0189 12.107 43.8582 12.1071Z" fill="#D0DBF7"/>
                            <path d="M48.7334 10.4821H29.2334C28.7847 10.4821 28.4209 10.8458 28.4209 11.2946V24.2946C28.4209 24.7433 28.7847 25.1071 29.2334 25.1071H48.7334C49.1821 25.1071 49.5459 24.7433 49.5459 24.2946V11.2946C49.5459 10.8458 49.1821 10.4821 48.7334 10.4821Z" fill="#E6ECFF"/>
                            <path d="M38.9834 8.85706C40.3296 8.85706 41.4209 7.76575 41.4209 6.41956C41.4209 5.07336 40.3296 3.98206 38.9834 3.98206C37.6372 3.98206 36.5459 5.07336 36.5459 6.41956C36.5459 7.76575 37.6372 8.85706 38.9834 8.85706Z" fill="#0085FF"/>
                            <path d="M49.5459 23.4983V24.2946C49.547 24.4016 49.5267 24.5077 49.4863 24.6068C49.4458 24.7058 49.386 24.7958 49.3103 24.8715C49.2347 24.9471 49.1447 25.0069 49.0456 25.0474C48.9466 25.0878 48.8404 25.1081 48.7334 25.1071H29.2334C29.1264 25.1081 29.0203 25.0878 28.9213 25.0474C28.8222 25.0069 28.7322 24.9471 28.6565 24.8715C28.5809 24.7958 28.5211 24.7058 28.4806 24.6068C28.4402 24.5077 28.4199 24.4016 28.4209 24.2946V17.0308C31.7684 20.2646 38.0247 23.0271 49.5459 23.4983Z" fill="#C5D1ED"/>
                            <path d="M45.4834 41.3571H42.2334C41.7847 41.3571 41.4209 41.7208 41.4209 42.1696V48.6696C41.4209 49.1183 41.7847 49.4821 42.2334 49.4821H45.4834C45.9321 49.4821 46.2959 49.1183 46.2959 48.6696V42.1696C46.2959 41.7208 45.9321 41.3571 45.4834 41.3571Z" fill="#221F5A"/>
                            <path d="M12.9834 20.2321H11.3584C11.1429 20.2321 10.9362 20.3177 10.7839 20.47C10.6315 20.6224 10.5459 20.8291 10.5459 21.0446V29.1696C10.5459 29.385 10.6315 29.5917 10.7839 29.7441C10.9362 29.8965 11.1429 29.9821 11.3584 29.9821H16.2334C16.4489 29.9821 16.6556 29.8965 16.8079 29.7441C16.9603 29.5917 17.0459 29.385 17.0459 29.1696V24.2946C17.0446 23.2175 16.6162 22.1849 15.8546 21.4234C15.093 20.6618 14.0604 20.2333 12.9834 20.2321Z" fill="#E6ECFF"/>
                            <path d="M46.2959 35.6695V42.982H11.3584C11.2514 42.9831 11.1453 42.9628 11.0463 42.9224C10.9472 42.8819 10.8572 42.8221 10.7815 42.7464C10.7059 42.6708 10.6461 42.5808 10.6056 42.4817C10.5652 42.3827 10.5449 42.2765 10.5459 42.1695V29.1695C10.5449 29.0625 10.5652 28.9564 10.6056 28.8573C10.6461 28.7583 10.7059 28.6683 10.7815 28.5926C10.8572 28.517 10.9472 28.4572 11.0463 28.4167C11.1453 28.3763 11.2514 28.356 11.3584 28.357H38.9834C39.9441 28.3558 40.8956 28.544 41.7833 28.9111C42.6711 29.2781 43.4777 29.8167 44.157 30.496C44.8363 31.1752 45.3749 31.9819 45.7419 32.8696C46.109 33.7574 46.2972 34.7089 46.2959 35.6695Z" fill="#0085FF"/>
                            <path d="M40.6084 15.3571C41.0571 15.3571 41.4209 14.9933 41.4209 14.5446C41.4209 14.0958 41.0571 13.7321 40.6084 13.7321C40.1597 13.7321 39.7959 14.0958 39.7959 14.5446C39.7959 14.9933 40.1597 15.3571 40.6084 15.3571Z" fill="#0085FF"/>
                            <path d="M49.5459 19.0946V24.2946C49.547 24.4016 49.5267 24.5077 49.4862 24.6068C49.4458 24.7058 49.386 24.7958 49.3103 24.8715C49.2347 24.9471 49.1447 25.0069 49.0456 25.0474C48.9465 25.0879 48.8404 25.1081 48.7334 25.1071H43.5334L41.0147 22.5883L40.0397 21.6133C39.9626 21.54 39.9013 21.4517 39.8594 21.354C39.8175 21.2562 39.7959 21.1509 39.7959 21.0446C39.7959 20.9382 39.8175 20.833 39.8594 20.7352C39.9013 20.6374 39.9626 20.5492 40.0397 20.4758L44.9147 15.6008C44.988 15.5238 45.0763 15.4625 45.174 15.4206C45.2718 15.3787 45.3771 15.3571 45.4834 15.3571C45.5898 15.3571 45.6951 15.3787 45.7928 15.4206C45.8906 15.4625 45.9788 15.5238 46.0522 15.6008L49.5459 19.0946Z" fill="#376CFB"/>
                            <path d="M49.5459 23.4983V24.2946C49.547 24.4016 49.5267 24.5077 49.4862 24.6068C49.4458 24.7058 49.386 24.7958 49.3103 24.8715C49.2346 24.9471 49.1446 25.0069 49.0456 25.0474C48.9465 25.0878 48.8404 25.1081 48.7334 25.1071H43.5334L41.0146 22.5883C43.832 23.102 46.6836 23.4061 49.5459 23.4983Z" fill="#221F5A"/>
                            <path d="M45.8084 25.1071H29.2334C29.1264 25.1081 29.0203 25.0879 28.9213 25.0474C28.8222 25.0069 28.7322 24.9471 28.6565 24.8715C28.5809 24.7958 28.5211 24.7058 28.4806 24.6068C28.4402 24.5077 28.4199 24.4016 28.4209 24.2946V22.3446L35.1647 15.6008C35.238 15.5238 35.3263 15.4625 35.424 15.4206C35.5218 15.3787 35.6271 15.3571 35.7334 15.3571C35.8398 15.3571 35.9451 15.3787 36.0428 15.4206C36.1406 15.4625 36.2288 15.5238 36.3022 15.6008L45.8084 25.1071Z" fill="#0085FF"/>
                            <path d="M11.3584 15.3571H8.1084C7.65967 15.3571 7.2959 15.7208 7.2959 16.1696V48.6696C7.2959 49.1183 7.65967 49.4821 8.1084 49.4821H11.3584C11.8071 49.4821 12.1709 49.1183 12.1709 48.6696V16.1696C12.1709 15.7208 11.8071 15.3571 11.3584 15.3571Z" fill="#221F5A"/>
                            <path d="M12.1709 30.6483V48.6696C12.172 48.7766 12.1517 48.8827 12.1113 48.9818C12.0708 49.0808 12.011 49.1708 11.9353 49.2465C11.8597 49.3221 11.7697 49.382 11.6706 49.4224C11.5716 49.4629 11.4654 49.4832 11.3584 49.4821H8.10844C8.00144 49.4832 7.89531 49.4629 7.79625 49.4224C7.6972 49.382 7.6072 49.3221 7.53154 49.2465C7.45588 49.1708 7.39607 49.0808 7.35562 48.9818C7.31516 48.8827 7.29487 48.7766 7.29594 48.6696V26.6996C8.77707 28.1841 10.4112 29.5078 12.1709 30.6483Z" fill="#221F5A"/>
                            <path d="M48.7334 49.4821H4.8584C4.64291 49.4821 4.43625 49.3965 4.28387 49.2441C4.1315 49.0917 4.0459 48.885 4.0459 48.6696C4.0459 48.4541 4.1315 48.2474 4.28387 48.095C4.43625 47.9427 4.64291 47.8571 4.8584 47.8571H48.7334C48.9489 47.8571 49.1556 47.9427 49.3079 48.095C49.4603 48.2474 49.5459 48.4541 49.5459 48.6696C49.5459 48.885 49.4603 49.0917 49.3079 49.2441C49.1556 49.3965 48.9489 49.4821 48.7334 49.4821Z" fill="#221F5A"/>
                        </svg>

                        <span>2 Hab</span>
                    </div>

                    <div class="card">
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="0 0 53 53" fill="none">
                            <path d="M10.8516 34.9236H7.60156C7.38607 34.9236 7.17941 34.838 7.02704 34.6856C6.87467 34.5332 6.78906 34.3266 6.78906 34.1111C6.78906 33.8956 6.87467 33.6889 7.02704 33.5366C7.17941 33.3842 7.38607 33.2986 7.60156 33.2986H10.8516C11.0671 33.2986 11.2737 33.3842 11.4261 33.5366C11.5785 33.6889 11.6641 33.8956 11.6641 34.1111C11.6641 34.3266 11.5785 34.5332 11.4261 34.6856C11.2737 34.838 11.0671 34.9236 10.8516 34.9236Z" fill="#A0B5E0"/>
                            <path d="M8.4141 22.7361V34.9236H4.3516C4.24461 34.9247 4.13848 34.9044 4.03942 34.8639C3.94036 34.8235 3.85037 34.7636 3.77471 34.688C3.69905 34.6123 3.63924 34.5223 3.59878 34.4233C3.55833 34.3242 3.53804 34.2181 3.5391 34.1111V19.4861C3.53989 19.3782 3.56198 19.2716 3.6041 19.1723C3.64623 19.073 3.70756 18.9831 3.78458 18.9076C3.86159 18.8321 3.95277 18.7725 4.05286 18.7324C4.15296 18.6922 4.26001 18.6722 4.36785 18.6736C5.44179 18.6801 6.46964 19.1107 7.22752 19.8716C7.9854 20.6326 8.41189 21.6621 8.4141 22.7361Z" fill="#0085FF"/>
                            <path d="M27.1016 31.6736H10.8516C10.6361 31.6736 10.4294 31.588 10.277 31.4356C10.1247 31.2832 10.0391 31.0766 10.0391 30.8611C10.0391 30.6456 10.1247 30.4389 10.277 30.2866C10.4294 30.1342 10.6361 30.0486 10.8516 30.0486H27.1016C27.3171 30.0486 27.5237 30.1342 27.6761 30.2866C27.8285 30.4389 27.9141 30.6456 27.9141 30.8611C27.9141 31.0766 27.8285 31.2832 27.6761 31.4356C27.5237 31.588 27.3171 31.6736 27.1016 31.6736Z" fill="#D0DBF7"/>
                            <path d="M27.9141 34.0624C27.9225 35.3628 27.5835 36.6418 26.9322 37.7674C26.2808 38.893 25.3408 39.8242 24.2091 40.4649C23.1132 41.0995 21.868 41.4305 20.6016 41.4236H20.1791L22.9741 48.4274C23.0297 48.5504 23.0515 48.686 23.0372 48.8203C23.0229 48.9545 22.9731 49.0825 22.8929 49.1911C22.8215 49.3025 22.7228 49.3938 22.6062 49.4564C22.4896 49.519 22.3589 49.5507 22.2266 49.5486H10.8516C10.7446 49.5497 10.6385 49.5294 10.5394 49.4889C10.4404 49.4485 10.3504 49.3887 10.2747 49.313C10.199 49.2373 10.1392 49.1473 10.0988 49.0483C10.0583 48.9492 10.038 48.8431 10.0391 48.7361V33.2986H27.1016C27.3101 33.2939 27.5122 33.3714 27.6641 33.5142C27.8161 33.6571 27.9059 33.8539 27.9141 34.0624Z" fill="#0085FF"/>
                            <path d="M49.0391 17.8611C49.0391 25.4823 45.0253 31.6736 40.1016 31.6736C38.4691 31.6372 36.9072 31.0009 35.7141 29.8861C34.4338 28.7215 33.4242 27.2904 32.7566 25.6936C32.4723 25.0837 32.2333 24.4536 32.0416 23.8086C31.567 22.2847 31.2885 20.7066 31.2128 19.1123C31.1803 18.7061 31.1641 18.2836 31.1641 17.8611C31.1641 10.2398 35.1778 4.04858 40.1016 4.04858C41.734 4.08495 43.2959 4.72128 44.4891 5.83608C45.4807 6.71249 46.3016 7.76478 46.9103 8.93983C47.2285 9.50972 47.5054 10.1016 47.7391 10.7111C48.4749 12.596 48.8975 14.5885 48.9903 16.6098C49.0228 17.0161 49.0391 17.4386 49.0391 17.8611Z" fill="#0085FF"/>
                            <g style="mix-blend-mode:multiply">
                              <path d="M46.8616 8.93981L31.9928 23.8086C31.5183 22.2847 31.2398 20.7066 31.1641 19.1123L44.4403 5.83606C45.4319 6.71246 46.2528 7.76475 46.8616 8.93981Z" fill="#0085FF"/>
                            </g>
                            <g style="mix-blend-mode:multiply">
                              <path d="M49.0394 16.7723L35.7632 30.0485C34.4829 28.8839 33.4733 27.4528 32.8057 25.856L47.7882 10.8735C48.524 12.7584 48.9466 14.751 49.0394 16.7723Z" fill="#0085FF"/>
                            </g>
                            <path d="M48.2266 49.5486H4.35156C4.13607 49.5486 3.92941 49.463 3.77704 49.3106C3.62467 49.1582 3.53906 48.9516 3.53906 48.7361C3.53906 48.5206 3.62467 48.3139 3.77704 48.1616C3.92941 48.0092 4.13607 47.9236 4.35156 47.9236H48.2266C48.4421 47.9236 48.6487 48.0092 48.8011 48.1616C48.9535 48.3139 49.0391 48.5206 49.0391 48.7361C49.0391 48.9516 48.9535 49.1582 48.8011 49.3106C48.6487 49.463 48.4421 49.5486 48.2266 49.5486Z" fill="#221F5A"/>
                        </svg>
                        <span>1 Baño</span>
                    </div>

                    <div class="card">
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="0 0 53 53" fill="none">
                            <path d="M37.7373 16.1358V30.582C37.7386 31.2782 37.5597 31.9628 37.218 32.5694C36.8763 33.1759 36.3834 33.6837 35.7873 34.0433C35.155 34.4414 34.422 34.6501 33.6748 34.6445H19.0498C17.9725 34.6442 16.9394 34.216 16.1776 33.4542C15.4158 32.6925 14.9877 31.6594 14.9873 30.582V16.1358L15.1823 15.9733L25.8423 7.1983C25.9898 7.07998 26.1732 7.0155 26.3623 7.0155C26.5514 7.0155 26.7348 7.07998 26.8823 7.1983L37.7373 16.1358Z" fill="#E6ECFF"/>
                            <path d="M31.2373 27.332V34.6445H21.4873V27.332C21.493 26.2564 21.9229 25.2264 22.6835 24.4657C23.4441 23.7051 24.4741 23.2753 25.5498 23.2695H27.1748C28.2521 23.2699 29.2852 23.6981 30.047 24.4598C30.8088 25.2216 31.2369 26.2547 31.2373 27.332Z" fill="#0085FF"/>
                            <path d="M40.8083 19.727C40.7301 19.8188 40.6329 19.8924 40.5235 19.9429C40.4141 19.9934 40.295 20.0195 40.1745 20.0195C39.9869 20.0148 39.8054 19.9524 39.6545 19.8408C37.1683 17.7933 39.4595 19.6945 26.362 8.8883C20.1383 14.0233 17.392 16.2658 15.962 17.452C14.3533 18.7845 14.3695 18.7683 13.0695 19.8408C12.9012 19.9764 12.6861 20.0401 12.4711 20.0179C12.2561 19.9957 12.0585 19.8895 11.9214 19.7224C11.7843 19.5553 11.7187 19.3408 11.739 19.1256C11.7592 18.9104 11.8636 18.7119 12.0295 18.5733C13.7358 17.1595 14.1258 16.8345 15.182 15.9733V15.957C16.482 14.9008 18.7895 13.0158 25.842 7.1983C25.9895 7.07998 26.1729 7.0155 26.362 7.0155C26.5511 7.0155 26.7345 7.07998 26.882 7.1983C39.6383 17.6958 36.8595 15.4208 40.6945 18.5733C40.8585 18.7139 40.9619 18.9124 40.9831 19.1273C41.0043 19.3423 40.9417 19.5571 40.8083 19.727Z" fill="#221F5A"/>
                            <path d="M45.6231 41.3816L42.3741 38.1326C42.2209 37.9846 42.0156 37.9027 41.8026 37.9046C41.5896 37.9064 41.3858 37.9919 41.2351 38.1425C41.0845 38.2932 40.999 38.4969 40.9972 38.71C40.9953 38.923 41.0772 39.1283 41.2252 39.2815L43.0883 41.1446H9.63604L11.4991 39.2815C11.6471 39.1283 11.729 38.923 11.7272 38.71C11.7253 38.4969 11.6399 38.2932 11.4892 38.1425C11.3386 37.9919 11.1348 37.9064 10.9217 37.9046C10.7087 37.9027 10.5035 37.9846 10.3502 38.1326L7.1012 41.3816C6.94884 41.5344 6.86328 41.7413 6.86328 41.9571C6.86328 42.1728 6.94884 42.3797 7.1012 42.5325L10.3502 45.7815C10.5035 45.9295 10.7087 46.0114 10.9217 46.0095C11.1348 46.0077 11.3386 45.9222 11.4892 45.7716C11.6399 45.621 11.7253 45.4172 11.7272 45.2041C11.729 44.9911 11.6471 44.7859 11.4991 44.6326L9.63604 42.7696H43.0883L41.2252 44.6326C41.0772 44.7859 40.9953 44.9911 40.9972 45.2041C40.999 45.4172 41.0845 45.621 41.2351 45.7716C41.3858 45.9222 41.5896 46.0077 41.8026 46.0095C42.0156 46.0114 42.2209 45.9295 42.3741 45.7815L45.6231 42.5325C45.7755 42.3797 45.861 42.1728 45.861 41.9571C45.861 41.7413 45.7755 41.5344 45.6231 41.3816Z" fill="#221F5A"/>
                            <path d="M15.962 17.4521C14.3533 18.7846 14.3695 18.7683 13.0695 19.8408C12.9012 19.9764 12.6861 20.0401 12.4711 20.0179C12.2561 19.9958 12.0585 19.8896 11.9214 19.7225C11.7843 19.5554 11.7187 19.3409 11.739 19.1256C11.7592 18.9104 11.8636 18.7119 12.0295 18.5733C13.7358 17.1596 14.1258 16.8346 15.182 15.9733C15.442 16.4608 15.702 16.9646 15.962 17.4521Z" fill="#0085FF"/>
                        </svg>
                        <span>44mt2</span>
                    </div>
                </div>

                <div class="inmueble_content_informacion">
                    <h2 class="title">Información</h2>

                    <p>
                        EBUSA CONSULTORES INMOBILIARIOS les presenta este inmueble en el barrio de Sant Ildefonso en la calle Doctor Tiene una superficie de 50 m2, 2 dormitorios (1 doble y 1 individual ), salón con vistas al exterior, cocina con salida a galería, baño de 3 piezas con bañera. Es una vivienda muy luminosa y soleada, tiene orientación a sur por lo cual al ser un piso alto disfrutarás de unas vistas magníficas. La finca dispone de dos ascensores.
                    </p>
                    <p>
                        La carpintería del piso es de aluminio, el suelo de parquet, cocina y baño llevan una reforma de 5 años. Nota de información al consumidor:
                        Estimado Cliente, rogamos consulte las condiciones de adquisición del presente inmueble con nuestro Departamento Comercial (valor de la propiedad, impuestos, honorarios de agencia, otros gastos, etc. ).
                    </p>
                </div>

                <div class="inmueble_content_data flex">
                    <div class="card">
                        <p class="title">Características Básicas</p>
                        <ul class="list">
                            <li>2 Habitaciones</li>
                            <li>1 Baño</li>
                            <li>44 metros cuadrado</li>
                            <li>Piso segunda mano</li>
                        </ul>
                    </div>
                    
                    <div class="card">
                        <p class="title">Instalaciones</p>
                        <ul class="list">
                            <li>Ascensor</li>
                            <li>Aire acondicionado</li>
                        </ul>
                    </div>
                </div>

                <div class="inmueble_content_certificacion">
                    <p>Certificación energética</p>

                    <div class="inmueble_content_certificacion_content">
                        <ul>
                            <li>A++</li>
                            <li>A+</li>
                            <li>A</li>
                            <li>B</li>
                            <li>C</li>
                            <li>D</li>
                            <li>E</li>
                            <li>F</li>
                            <li>G</li>
                        </ul>
                    </div>
                </div>

                <div class="inmueble_content_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11977.777659349953!2d2.0828561!3d41.3644283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a499682cfb476f%3A0x26764b291db86f62!2sSan%20Ildefonso%2C%2008940%20Cornell%C3%A0%20de%20Llobregat%2C%20Barcelona%2C%20Espa%C3%B1a!5e0!3m2!1ses-419!2sar!4v1699844402547!5m2!1ses-419!2sar" width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>


            <div class="inmueble_aside">
                <div class="inmueble_aside_box flex column">
                    
                    <a href="#" class="inmueble_aside_share">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <g clip-path="url(#clip0_329_2913)">
                            <path d="M14.349 3.63845C14.3489 2.90525 14.6066 2.19535 15.077 1.63297C15.5475 1.07059 16.2007 0.691533 16.9224 0.562125C17.6441 0.432717 18.3883 0.561196 19.0249 0.925082C19.6614 1.28897 20.1497 1.86509 20.4044 2.55265C20.6591 3.24021 20.6639 3.99543 20.418 4.68617C20.172 5.37691 19.6911 5.95919 19.0592 6.33113C18.4274 6.70308 17.6848 6.841 16.9615 6.72077C16.2383 6.60054 15.5803 6.22981 15.1027 5.67345L6.70521 9.57345C6.89827 10.1853 6.89827 10.8417 6.70521 11.4535L15.1027 15.3535C15.6075 14.7664 16.3123 14.3876 17.0805 14.2905C17.8486 14.1935 18.6255 14.385 19.2604 14.8281C19.8954 15.2711 20.3433 15.9341 20.5173 16.6886C20.6913 17.4431 20.579 18.2353 20.2022 18.9117C19.8254 19.5881 19.2109 20.1005 18.4778 20.3497C17.7447 20.5988 16.9452 20.5669 16.2343 20.2602C15.5234 19.9535 14.9516 19.3938 14.6299 18.6895C14.3081 17.9853 14.2592 17.1867 14.4927 16.4485L6.09521 12.5485C5.67951 13.0329 5.1254 13.3784 4.50744 13.5386C3.88947 13.6987 3.2373 13.6657 2.63864 13.4441C2.03998 13.2224 1.52356 12.8227 1.15885 12.2988C0.794138 11.7749 0.598633 11.1518 0.598633 10.5135C0.598633 9.87508 0.794138 9.25203 1.15885 8.7281C1.52356 8.20416 2.03998 7.8045 2.63864 7.58286C3.2373 7.36121 3.88947 7.32823 4.50744 7.48835C5.1254 7.64846 5.67951 7.99399 6.09521 8.47845L14.4927 4.57845C14.3971 4.27429 14.3486 3.95729 14.349 3.63845Z" fill="#0085FF"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_329_2913">
                                <rect width="20" height="20" fill="white" transform="translate(0.598633 0.514404)"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <span>Compartir</span>
                    </a>

                    <a href="tel:931564980" class="inmueble_aside_link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <g clip-path="url(#clip0_329_2915)">
                            <path d="M6.07936 2.50636C5.99081 2.39245 5.87904 2.29869 5.75147 2.2313C5.62389 2.16391 5.48344 2.12443 5.33944 2.11549C5.19544 2.10655 5.05118 2.12836 4.91626 2.17946C4.78133 2.23055 4.65882 2.30977 4.55686 2.41186L3.00586 3.96436C2.28136 4.69036 2.01436 5.71786 2.33086 6.61936C3.64447 10.3507 5.7813 13.7385 8.58286 16.5314C11.3758 19.3329 14.7635 21.4697 18.4949 22.7834C19.3964 23.0999 20.4239 22.8329 21.1499 22.1084L22.7009 20.5574C22.8029 20.4554 22.8822 20.3329 22.9333 20.198C22.9844 20.063 23.0062 19.9188 22.9972 19.7748C22.9883 19.6308 22.9488 19.4903 22.8814 19.3628C22.814 19.2352 22.7203 19.1234 22.6064 19.0349L19.1459 16.3439C19.0242 16.2495 18.8826 16.184 18.7319 16.1523C18.5812 16.1206 18.4253 16.1235 18.2759 16.1609L14.9909 16.9814C14.5524 17.091 14.093 17.0851 13.6574 16.9645C13.2219 16.8438 12.825 16.6124 12.5054 16.2929L8.82136 12.6074C8.50152 12.2879 8.26985 11.8911 8.14893 11.4555C8.02801 11.0199 8.02196 10.5605 8.13136 10.1219L8.95336 6.83686C8.99072 6.68745 8.99366 6.53151 8.96196 6.3808C8.93026 6.23009 8.86475 6.08855 8.77036 5.96686L6.07936 2.50636ZM3.42436 1.28086C3.68685 1.01828 4.0022 0.814554 4.34947 0.6832C4.69674 0.551847 5.06798 0.495874 5.43853 0.518998C5.80909 0.542122 6.17049 0.643815 6.49873 0.817324C6.82698 0.990832 7.11455 1.23219 7.34236 1.52536L10.0334 4.98436C10.5269 5.61886 10.7009 6.44536 10.5059 7.22536L9.68536 10.5104C9.64294 10.6805 9.64523 10.8587 9.69202 11.0277C9.7388 11.1967 9.82848 11.3508 9.95236 11.4749L13.6379 15.1604C13.7621 15.2845 13.9164 15.3743 14.0857 15.4211C14.255 15.4679 14.4335 15.4701 14.6039 15.4274L17.8874 14.6069C18.2723 14.5106 18.674 14.5031 19.0623 14.585C19.4505 14.6669 19.8151 14.8359 20.1284 15.0794L23.5874 17.7704C24.8309 18.7379 24.9449 20.5754 23.8319 21.6869L22.2809 23.2379C21.1709 24.3479 19.5119 24.8354 17.9654 24.2909C14.0071 22.8981 10.4133 20.6321 7.45036 17.6609C4.4793 14.6984 2.21327 11.105 0.820363 7.14736C0.277363 5.60236 0.764863 3.94186 1.87486 2.83186L3.42586 1.28086H3.42436Z" fill="#0085FF"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_329_2915">
                                <rect width="24" height="24" fill="white" transform="translate(0.598633 0.514404)"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <span>931564980</span>
                    </a>
                    <a href="tel:931564980" class="inmueble_aside_link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 25 20" fill="none">
                            <path d="M0.530273 3.98688C0.530273 3.18898 0.847238 2.42376 1.41144 1.85956C1.97564 1.29536 2.74086 0.978394 3.53876 0.978394H21.5897C22.3876 0.978394 23.1528 1.29536 23.717 1.85956C24.2812 2.42376 24.5981 3.18898 24.5981 3.98688V16.0208C24.5981 16.8187 24.2812 17.5839 23.717 18.1481C23.1528 18.7123 22.3876 19.0293 21.5897 19.0293H3.53876C2.74086 19.0293 1.97564 18.7123 1.41144 18.1481C0.847238 17.5839 0.530273 16.8187 0.530273 16.0208V3.98688ZM3.53876 2.48264C3.13981 2.48264 2.7572 2.64112 2.4751 2.92322C2.193 3.20532 2.03452 3.58793 2.03452 3.98688V4.3133L12.5642 10.6311L23.0939 4.3133V3.98688C23.0939 3.58793 22.9354 3.20532 22.6533 2.92322C22.3712 2.64112 21.9886 2.48264 21.5897 2.48264H3.53876ZM23.0939 6.06724L16.0119 10.3167L23.0939 14.6745V6.06724ZM23.0428 16.4104L14.5588 11.1892L12.5642 12.3851L10.5696 11.1892L2.08566 16.4089C2.17114 16.729 2.35991 17.0119 2.62266 17.2138C2.88541 17.4156 3.20744 17.525 3.53876 17.5251H21.5897C21.9208 17.5251 22.2427 17.4159 22.5054 17.2143C22.7681 17.0128 22.957 16.7302 23.0428 16.4104ZM2.03452 14.6745L9.11649 10.3167L2.03452 6.06724V14.6745Z" fill="#0085FF"/>
                        </svg>
                        <span>infocornella@ebusa.com</span>
                    </a>

                    <hr>
                        <InmuebleCalc/>
                    <hr>

                    <p class="inmueble_aside_title">Me interesa</p>

                    <form>
                        <div class="item">
                            <input type="email" placeholder="Email">
                        </div>

                        <div class="item">
                            <input type="text" placeholder="Teléfono">
                        </div>

                        <div class="item">
                            <input type="text" placeholder="Nombre">
                        </div>

                        <div class="item">
                            <label for="2345678">
                                <input id="2345678" type="checkbox">
                                <span>He leído y acepto la política de privacidad</span>
                            </label>
                        </div>

                        <Button type="button" content="Enviar" variant="secondary"/>
                    </form>
                
                </div>
            </div>
        </article>
    </section>

    <InmuebleDestacados/>

</Layout>
<style lang="scss">
    @import "../../sass/base/base.scss";

    .inmueble {
        display: grid;
        grid-template-columns: 8fr 4fr;
        gap: 0 5rem;

        @include md {
            grid-template-columns: 1fr;
        }


        &_title {
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 120%;
        }

        &_location {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2rem;
        }

        &_slider {
            padding: 3rem 0;
            grid-column: 1/-1;

            img {
                width: 100%;
                height: auto;
            }

            &_thumbs {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 2rem 0;
                gap: 1rem;

                > img {
                    width: auto;
                    max-height: 70px;
                }
            }
        }

        &_content {
            --color: #221F5A;

            &_heading {
                display: flex;
                align-items: center;

                @include sm {
                    flex-direction: column;
                }

                &_price {
                    text-align: right;
                    padding: 2rem;

                    @include sm {
                        width: 100%;
                        text-align:left;
                        padding: 2rem 0;
                    }

                    span {
                        font-size: 0.9375rem;
                        font-weight: 400;
                        line-height: 108.023%;
                    }

                    p {
                        font-size: 2.25rem;
                        font-weight: 700;
                        line-height: 108.023%;
                        --color: #0085FF;
                    }
                }
            }

            &_caracteristicas {
                display: flex;
                gap: 1rem;
                padding: 2rem 0;

                .card {
                    padding: 1rem;
                    border-radius: 0.875rem;
                    border: 1px solid var(--Celeste-ECI, #0085FF);
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    span {
                        margin: 0;
                    }
                }
            }

            &_informacion {
                padding: 3rem 0;

                .title {
                    font-size: 1.75rem;
                    font-weight: 700;
                    line-height: 120%;
                }

                p {
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 2rem;
                }
            }

            &_data {
                gap: 1rem;
                margin-bottom: 4rem;

                @include md {
                    flex-direction: column;
                }

                .card {
                    flex: 1 1 auto;
                    border-radius: 0.875rem;
                    border: 1px solid var(--Celeste-ECI, #0085FF);
                    padding: 1rem 2rem;

                    
                    .title {
                        font-size: 1.75rem;
                        font-weight: 700;
                        line-height: 120%;
                        margin: 0;
                    }

                }

                .list {
                    list-style: url(../../src/media/img/tilt.svg);
                    padding-left: 2rem;

                    li {
                        font-size: 1.25rem;
                        font-weight: 400;
                        line-height: 2rem;
                        padding: .75rem 0 .75rem .5rem;
                        margin: 0;
                    }
                }
            }

            &_certificacion {

                >p{
                    border-radius: 0.875rem;
                    border: 1px solid var(--Celeste-ECI, #0085FF);
                    background: var(--Celeste-ECI, #0085FF);
                    --color: #fff;
                    font-size: 1.75rem;
                    font-weight: 700;
                    line-height: 120%;
                    padding: .5rem 1rem;
                }

                &_content {
                    position: relative;
                    width: 100%;
                    max-width: 350px;

                    ul {

                        &::before {
                            content: "Más eficiente";
                            color: #666;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        &::after{
                            content: "Menos eficiente";
                            color: #666;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        li {
                            clip-path: polygon(calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0% 100%, 0% 0%);
                            color: #fff;
                            padding: 5px 20px 5px;
                            margin: 5px 0;
                            text-align: right;
                            font-weight: bold;

                            &:nth-child(1) {
                                width: 20%;
                                background-color: #4fa53b;
                            }
                            &:nth-child(2) {
                                width: 30%;
                                background-color: #4a862f;
                            }
                            &:nth-child(3) {
                                width: 40%;
                                background-color: #6ea031;
                            }
                            &:nth-child(4) {
                                width: 50%;
                                background-color: #9eb831;
                            }
                            &:nth-child(5) {
                                width: 60%;
                                background-color: #c5d13a;
                            }
                            &:nth-child(6) {
                                width: 70%;
                                background-color: #dde041;
                            }
                            &:nth-child(7) {
                                width: 80%;
                                background-color: #e49a35;
                            }
                            &:nth-child(8) {
                                width: 90%;
                                background-color: #d73b2e;
                            }
                            &:nth-child(9) {
                                width: 100%;
                                background-color: #85211c;
                            }
                        }
                    }

                    &::after {
                        content: "A";
                        clip-path: polygon(10px 0%, 100% 0, 100% 100%, 10px 100%, 0% 50%);
                        background-color: #333;
                        position: absolute;
                        top: 40%;
                        right: 0;
                        translate: 0 -50% 0;
                        padding: 10px 20px 10px 30px;
                        font-size: 1.4rem;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }

            &_map {
                width: 100%;
                padding: 3rem 0;

                iframe {
                    width: 100%;
                }
            }
        }

        &_aside {
            flex: 1 1 auto;
            padding-bottom: 3rem;
         
            &_box {
                background-color: #F7F7FB;
                padding: 1rem;
                position: sticky;
                top: 200px;

                hr {
                    width: 100%;
                    height: 1px;
                    background-color: #D8D8D8;
                    margin-top: 2rem;
                }
            }

            &_title {
                width: 100%;
                font-size: 2.25rem;
                font-weight: 700;
                line-height: 108.023%;
                text-align: center;
            }

            &_share {
                display: flex;
                align-items: center;
                gap: 1rem;
                --color:  #0085FF;
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 2rem;
                padding: 1rem 2rem;
            }

            &_link {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0 2rem;
            }
        }
    }

</style>