---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Política de Cookies" pageSlug='cookies'>
    <div class="wrapper first">
        <div class="container">
            <h1>Política de Cookies</h1>


            <p>Bienvenida/o a la POLÍTICA DE COOKIES de la página web de la entidad EBUSA CONSULTORES INMOBILIARIOS S.L., provista de NIF B67336958, donde te explicaremos todas las cuestiones necesarias para que puedas tener el control sobre ellas en base a tus decisiones personales.<br></p>
            <p><strong>¿QUÉ SON LAS COOKIES Y PARA QUÉ LAS USAMOS?<br></strong></p>
            
            <p>Una cookie es un pequeño archivo de información almacenado en su dispositivo (ordenador, smartphone, tableta) al visitar nuestra página web. Las cookies no son dañinas (libres de virus, troyanos, gusanos, etc.) pero pueden afectar su privacidad al recopilar información sobre sus hábitos de navegación y preferencias.<br></p>
            
            <p><strong>Uso y Autorización de Cookies</strong> De acuerdo con la Ley de Servicios de la Sociedad de la Información (LSSI) y la legislación de protección de datos personales, requerimos su consentimiento para activar ciertos tipos de cookies.<br></p>
            
            <p><strong>Tipos de Cookies y su Gestión<br></strong></p>
            
            <ul>
                <li><strong>Cookies Técnicas:</strong> Necesarias para el funcionamiento de nuestra web, activadas por defecto y no requieren su autorización.<br></li>
                
                <li><strong>Cookies de Personalización y Publicidad:</strong> Mejoran su experiencia, adaptando la web a sus preferencias y mostrando publicidad relevante. Puede aceptar o rechazar estas cookies en "CONFIGURACIÓN DE COOKIES".</li>
            
            </ul>
            
            <p><strong></strong><strong>Cookies Propias y de Terceros</strong><br></p>
            
            <ul>
                <li><strong>Cookies Propias:</strong> Utilizadas directamente por nosotros.<br></li>
                
                <li><strong>Cookies de Terceros: </strong>Provenientes de servicios externos, que pueden estar fuera de España. Nos comprometemos a utilizar proveedores fiables que protejan adecuadamente sus datos, incluso fuera de la UE.<br></li>
            </ul>
            
            <p><strong>Duración de las Cookies</strong><br></p>
            
            <ul>
                <li><strong>Cookies de Sesión: </strong>Expiran al cerrar su sesión.<br></li>
                
                <li><strong>Cookies Persistentes: </strong>Permanecen por un período predefinido, desde minutos hasta años.<br></li>
            </ul>
            
            <p><strong>Su Privacidad y Derechos </strong>Respetamos su derecho a la privacidad y ofrecemos opciones claras para gestionar sus preferencias de cookies. Puede cambiar su configuración en cualquier momento.<br></p>
            
            <p><strong>¿QUÉ TIPO DE COOKIES PODEMOS UTILIZAR EN NUESTRA PÁGINA WEB?</strong><br></p>
            
            <ul>
                <li><strong></strong><strong>Cookies Técnicas:</strong> Las cookies técnicas son estrictamente necesarias para que nuestra página web funcione y puedas navegar por la misma. Este tipo de cookies son las que, por ejemplo, nos permiten identificarte, darte acceso a determinadas partes restringidas de la página si fuese necesario, o recordar diferentes opciones o servicios ya seleccionados por ti, como tus preferencias de privacidad. Por ello, <strong>están activadas por defecto, no siendo necesaria tu autorización al respecto.</strong> <br>A través de la configuración de tu navegador, puedes bloquear o alertar de la presencia de este tipo de cookies, si bien dicho bloqueo afectará al correcto funcionamiento de las distintas funcionalidades de nuestra página web.<br></li>
                
                <li><strong>Cookies de Análisis:</strong> Las cookies de análisis nos permiten estudiar la navegación de los usuarios de nuestra página web en general (por ejemplo, qué secciones de la página son las más visitadas, qué servicios se usan más y si funcionan correctamente, etc.). <br>A partir de la información estadística sobre la navegación en nuestra página web, podemos mejorar tanto el propio funcionamiento de la página como los distintos servicios que ofrece. Por tanto, estas cookies no tienen una finalidad publicitaria, sino que únicamente sirven para que nuestra página web funcione mejor, adaptándose a nuestros usuarios en general. Activándolas contribuirás a dicha mejora continua. <br><strong>Puedes activar o desactivar estas cookies marcando la casilla correspondiente</strong>, estando desactivadas por defecto.<br></li>
                
                <li><strong>Cookies de Funcionalidad y Personalización:</strong> Las cookies de funcionalidad nos permiten recordar tus preferencias, para personalizar a tu medida determinadas características y opciones generales de nuestra página web, cada vez que accedas a la misma (por ejemplo, el idioma en que se te presenta la información, las secciones marcadas como favoritas, tu tipo de navegador, etc.<br>Por tanto, este tipo de cookies <strong>no tienen una finalidad publicitaria,</strong> sino que activándolas mejorarás la funcionalidad de la página web (por ejemplo, adaptándose a tu tipo de navegador) y la personalización de la misma en base a tus preferencias (por ejemplo, presentando la información en el idioma que hayas escogido en anteriores ocasiones), lo cual contribuirá a la facilidad, usabilidad y comodidad de nuestra página durante tu navegación. <br><strong>Puedes activar o desactivar estas cookies marcando la casilla correspondiente,</strong> estando desactivadas por defecto.<br></li>
                
                <li><strong>Cookies de Publicidad Comportamental: </strong>Las cookies de publicidad comportamental nos permiten obtener información basada en la observación de tus hábitos y comportamientos de navegación en la web, a fin de poder mostrarte contenidos publicitarios que se ajusten mejor a tus gustos e intereses personales. <br>Para que lo entiendas de manera muy sencilla, te pondremos un ejemplo ficticio: si tus últimas búsquedas en la web estuviesen relacionadas con literatura de suspense, te mostraríamos publicidad sobre libros de suspense. <br>Por tanto, activando este tipo de cookies, la publicidad que te mostremos en nuestra página web no será genérica, sino que estará orientada a tus búsquedas, gustos e intereses, ajustándose por tanto exclusivamente a ti. <br><strong>​​​​​​​Puedes activar o desactivar estas cookies marcando la casilla correspondiente,</strong> estando desactivadas por defecto<br>
                </li>
            </ul>
        </div>
    </div>
</Layout>

<style lang="scss">
  /*  */
  .wrapper {
    width: 100%;

  
    .container {
      position: relative;
      z-index: 100;
      padding: 5rem 0;

      h1 {
        margin: 3rem 0;
      }

      a{
        text-decoration: underline;
      }


      ul {
        margin: 3rem 2rem;
        list-style-type: disc;
      }
    }
  }
</style>
